<!-- your html code here -->
<h2><strong>Porfolio</strong></h2>
<p>Donec ullamcorper nulla non metus auctor fringilla.  Vestibulum id ligulaporta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, elus ac cursus commodo.</p>

<div class="card-group">
  <div class="card mr-4">
    <img src="https://picsum.photos/400/250?image=1039
" class="card-img-top" alt="...">
    <div class="card-body pl-0">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card card-portfolio mr-4">
    <img src="https://picsum.photos/400/250?image=1044
" class="card-img-top" alt="...">
    <div class="card-body pl-0">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/400/250?image=935
" class="card-img-top" alt="...">
    <div class="card-body pl-0">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
