<div class="container bg-white">
    <div class="row">
        <div class="col-4">
            <img src="/website1/assets/img/2.jpg" class="rounded-circle img-thumbnail">
            
        </div>
        <div class="col-8">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h1>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
            It has roots in a piece of classical Latin literature from 45 BC, making 
            it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College 
            in Virginia, looked up one of the more obscure Latin words, consectetur, from</p>
            
        </div>
    </div>
</div>